<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules xdt:Transform="Replace">
                <!-- Development settings
                <rule name="look in built first" stopProcessing="true">
                    <match url="^(.+)$" />
                    <conditions>
                        <add input="{APPL_PHYSICAL_PATH}built\{R:1}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="built/{R:1}" />
                </rule>
                <rule name="look in src next" stopProcessing="true">
                    <match url="^(.+)$" />
                    <conditions>
                        <add input="{APPL_PHYSICAL_PATH}src\{R:1}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="src/{R:1}" />
                </rule> -->
                <!-- Production Settings -->
				<rule name="serve from dist" stopProcessing="true">
					<match url="^(.+)$" />
					<conditions>
						<add input="{APPL_PHYSICAL_PATH}dist\{R:1}" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="dist/{R:1}" />
				</rule>

            </rules>
        </rewrite>

    </system.webServer>
</configuration>
