div
    .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-10
            h2 Phones
            ol.breadcrumb
                li
                    strong Phones
                li.active
                    a(href="#!/createPhone/showCreatePhone") Create Phone

    .wrapper.wrapper-content
        .row
            col-lg-12
                .ibox-content
                    table.table.table-striped.table-bordered.table-hover(datatable dt-options="ctrl.table.options" dt-columns="ctrl.table.columns")
