div
    .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-10
            h2 Person
            ol.breadcrumb
                li
                    a(href="#!/people/showPeople") People
                li
                    a(href="#!/createPerson/showCreatePerson") Create Person

    .wrapper.wrapper-content
        .row
            .col-md-4
                .ibox.float-e-margins
                    .ibox-title
                        h5 Monica Smith
                        button.btn.btn-primary.btn-xs.pull-right(ng-click="ctrl.goToEdit()") Edit Person
                    .ibox-content.no-padding.border-left-right
                        img.img-responsive(alt="image" src="img/profile_big.jpg")

                    .ibox-content.profile-content
                        p
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            |Ut enim ad minim veniam, quis nostrud exercitat.
            .col-md-8
                .ibox.float-e-margins
                    .ibox-title
                        h5 Phone

                    .ibox-content
                        .contact-list

                            .contact-element
                                .media-body
                                    small.text-muted Home
                                    div
                                        strong (940) 898-1147

                            .contact-element
                                .media-body
                                    small.text-muted Work
                                    div
                                        strong (806) 872-5636

                .ibox.float-e-margins
                    .ibox-title
                        h5 Email

                    .ibox-content
                        .contact-list

                            .contact-element
                                .media-body
                                    small.text-muted Personal
                                    div
                                        strong Monica.Smith@gmail.com

                            .contact-element
                                .media-body
                                    small.text-muted Work
                                    div
                                        strong MSmith@work.com

                .ibox.float-e-margins
                    .ibox-title
                        h5 Address

                    .ibox-content
                        .contact-list

                            .contact-element
                                .media-body
                                    small.text-muted Home
                                    div
                                        strong 709 North 21st
                                    div
                                        strong Lamesa, TX 79331

                            .contact-element
                                .media-body
                                    small.text-muted Work
                                    div
                                        strong 1818 Stonegate Drive
                                    div
                                        strong Lamesa, TX 79331

