.wrapper.wrapper-content
    .row
        .col-lg-6
            .ibox.float-e-margins
                .ibox-title
                    h5 Course
                    .ibox-tools
                        button.btn.btn-primary.btn-xs(ng-click="ctrl.goToEdit()") Edit Course
                .ibox-content
                    h3 {{ ctrl.course.name }}
                    p  {{ ctrl.course.description }}
