.row.wrapper.border-bottom.white-bg.page-heading
    col-lg-10
        h2 FooTable
        ol.breadcrumb
            li
                a(href="index.html") Home
            li
                a Tables
            li.active
                strong FooTable

.wrapper.wrapper-content.animated.fadeInRight
    .row
        col-lg-12
            ibox.float-e-margins
                .ibox-title
                    h5 Courses
                .ibox-content
                    table.table.table-striped.table-bordered.table-hover(datatable dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns")