.row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
        h2 Course
        ol.breadcrumb
            li
                a(href="index.html") Home
            li
                a(href="#/courses/showcourses") Courses
            li.active
                strong Course
.wrapper.wrapper-content.animated.fadeInRight
    .row
        .col-lg-6
            .ibox.float-e-margins
                .ibox-title
                    h5 Create a new course

                .ibox-content
                    form.form-horizontal
                        .form-group
                            label.col-lg-2.control-label Name
                            .col-lg-10
                                input.form-control(type="email" placeholder="Name")
                        .form-group
                            label.col-lg-2.control-label Description
                            .col-lg-10
                                input.form-control(type="text" placeholder="Description")
                        .form-group
                            .col-lg-offset-2.col-lg-10
                                 button.btn.btn-sm.btn-primary.pull-right(type="submit") Create
