.active-status {
    .glyphicon {
        font-size:     2.1em;
        padding-top:   3px;
        padding-right: 6px;
    }
    .text {
        font-size:   1.3em;
        font-weight: bold;
        position:    relative;
        top:         -6px;
    }
}