div
    .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-10
            h2 EmailType
            ol.breadcrumb
                li
                    a(href="#!/emailTypes/showEmailTypes") EmailTypes
                li
                    a(href="#!/createEmailType/showCreateEmailType") Create EmailType

    .wrapper.wrapper-content
        .row
            .col-lg-12
                .ibox-content
                    button.btn.btn-primary.btn-xs.pull-right(ng-click="ctrl.goToEdit()") Edit EmailType
                    h3 {{ ctrl.emailType.name }}
                    p  {{ ctrl.emailType.description }}
