.wrapper.wrapper-content
    .row
        .col-lg-6
            .ibox.float-e-margins
                .ibox-title
                    h5 EmailType
                    .ibox-tools
                        button.btn.btn-primary.btn-xs(ng-click="ctrl.goToEdit()") Edit EmailType
                .ibox-content
                    h3 {{ ctrl.emailType.name }}
